.home{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    color: white;
}
.headerContainer{
    width:auto;
    margin-left: 30px;
}
.headerContainer h1{
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.home .headerContainer p{
    margin-top: 15px;
    padding: 0;
    font-size: 32px;
    font-weight: lighter;
    color: white;
}

.home .headerContainer button{
    color: rgb(14, 13, 13);
    margin-top: 20px;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
}
.home .headerContainer button:hover{
    background-color: rgb(136, 123, 123);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    
}
/* media view */

@media only screen and (max-width:600px) {
    .home{
        justify-content: center;
        align-items: center;
        
    }
    .headerContainer{
        width:70%;
        margin-left: 0px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color:rgb(65, 64, 64);
        margin-top: 80px;
    }
    .headerContainer h1{
        font-size: 30px;
    }
    .home .headerContainer p{
        margin-top: 0px;
        font-size: 18px;
        font-weight: lighter;
        color: white;
    }
    .home .headerContainer button{
        color: rgb(14, 13, 13);
        font-size: 12px;
        font-weight: bold;
        height: 30px;
        width: 120px;
        margin-top: 0px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    
}